* {
    font-family: 'Kanit', sans-serif;
}
div {
    text-align: center;
    width: 800px;
    margin: auto;
}
body {
    background-color: #ffffff;
}
.title {
    text-align:center;
    color: #da102e;
}
.createOrder {
    border: 20px solid #008e6a;
}
.form {
    padding: 10px auto 10px auto;
    border: 15px solid #008e6a;
    margin-top: 20px;
}
#order {
    border: 15px solid #008e6a;
    margin-top: 20px;
    text-align: left;
    padding: 0;
}
#pizzaOrder {
    text-align: left;
    padding-top; 0;
    margin-top: 0;
}
#toppings {
    text-align: left;
    padding-top; 0;
    margin-top: 0;
}
#total {
    text-align: left;
    padding-top; 0;
    margin-top: 0;
}
#cpop {
    margin-top: 0;
    margin-bottom: 0;
}
#stp {
    margin-bottom: 0;
}
